<section class="contacts-page">
  <div class="container">
    <h1 class="contacts-page-title">Contacts</h1>
   
     <div class="contact-photo">
        <picture>
          <source
            srcset="
              ./images/contact-photo/contacts-img-desc.jpg    1x,
              ./images/contact-photo/contacts-img-desc@2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./images/contact-photo/contacts-img-tab.jpg    1x,
              ./images/contact-photo/contacts-img-tab@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/contact-photo/contacts-img-mob.jpg    1x,
              ./images/contact-photo/contacts-img-mob@2x.jpg 2x
            "
            media="(min-width: 480px)"
          />
          <img
            class="contacts-img"
            src="./images/contact-photo/contacts-img-mob.jpg"
            alt="game-keyboard,headphones and controller"
           
          />
        </picture>
     </div>

  
    <div class="descktop-thumb">
      <div class="contacts-thumb">
        <p class="contacts-page-text page-text">
          In case of queries about order handling and/or delay, drop us an email
          at
        </p>
        <a class="contacts-page-text" href="mailto:info@shopforgamers.com"
          >info@shopforgamers.com</a
        >
        <div class="contacts-page-thumb">
          <div class="email-thumb">
            <p class="contacts-page-text">Email</p>
            <a class="contacts-page-email-tel" href="mailto:sfg.info@gmail.com"
              >sfg.info@gmail.com</a
            >
          </div>
          <div class="tel-thumb">
            <p class="contacts-page-text">Phone number</p>
            <ul class="tel-list">
              <li class="contacts-page-email-tel">
                <a href="tel:+38(093)6432288">+38 (093) 643 22 88</a>
              </li>
              <li class="contacts-page-email-tel">
                <a href="tel:+38(050)3454423">+38 (050) 345 44 23</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="form-thumb">
        <p class="form-title">CONTACT US</p>
        <form
          class="contact-form"
          name="CONTACT_US"
          autocomplete="on"
          novalidate
        >
          <div class="form-field">
            <input
              class="form-input"
              type="text"
              name="text"
              id="user-name"
              placeholder="Name"
            />
          </div>
          <div class="form-field">
            <input
              class="form-input"
              type="email"
              name="email"
              id="user-email"
              placeholder="Email"
            />
          </div>
          <div class="form-field">
            <label class="form-label" for="user-comment"
              >Leave your message
            </label>
            <textarea class="form-comment" name="text" id="user-comment"></textarea>
          </div>
          <a href="#" data-modal="feedback" class="btn-big btn-secondary-light js-open-modal">
            SEND
          </a>
        </form>
      </div>
    </div>
  </div>
  </div>
</section>


  <div data-modal="feedback" class="contacts-modal js-modal">
     <svg class="modal__cross js-modal-close " xmlns="http://www.w3.org/2000/svg"               viewBox="0 0 24 24"><path d="M23.954 21.03l-9.184-9.095 9.092-9.174-2.832-2.807-9.09 9.179-9.176-9.088-2.81 2.81 9.186 9.105-9.095 9.184 2.81 2.81 9.112-9.192 9.18 9.1z"/></svg>
    <!-- <button data-modal="feedback" class="contacts-modal-close js-modal-close" type="button">
     </button> -->
    <div class="contacts-modal-thumb">
      <p class="contacts-modal-text">Thank you</p>
      <p class="contacts-modal-text">for your message!</p>
      <p class="contacts-modal-text">We will contact you soon!</p>
      <a href="./index.html" class="contacts-modal-btn">OK</a>
    </div>
  </div>
  <div  class="overlay"></div>


<!-- <a href="#" class="js-open-modal" data-modal="1">Открыть окно 1</a>
<a href="#" class="js-open-modal" data-modal="2">Открыть окно 2</a> -->


<!-- Несколько модальных окон -->

<!-- <div class="modal" data-modal="1">
   <!--   Svg иконка для закрытия окна  -->
   <!-- <svg class="modal__cross js-modal-close" xmlns="http://www.w3.org/2000/svg"               viewBox="0 0 24 24"><path d="M23.954 21.03l-9.184-9.095 9.092-9.174-2.832-2.807-9.09 9.179-9.176-9.088-2.81 2.81 9.186 9.105-9.095 9.184 2.81 2.81 9.112-9.192 9.18 9.1z"/></svg>
   <p class="modal__title">Заголовок окна 1</p>
</div> --> -->

<!-- <div class="modal" data-modal="2"> -->
   <!--   Svg иконка для закрытия окна  -->
   <!-- <svg class="modal__cross js-modal-close" xmlns="http://www.w3.org/2000/svg"               viewBox="0 0 24 24"><path d="M23.954 21.03l-9.184-9.095 9.092-9.174-2.832-2.807-9.09 9.179-9.176-9.088-2.81 2.81 9.186 9.105-9.095 9.184 2.81 2.81 9.112-9.192 9.18 9.1z"/></svg>
   <p class="modal__title">Заголовок окна 2</p>
</div> -->

<!-- Подложка под модальным окном -->
<!-- <div class="overlay js-overlay-modal"></div> -->

