<section class="hero">
  <div class="hero__container">
    <h2 class="hero__title">Best shop <br> for buying gaming products</h2>
  </div>
  <div class="hero__container-btn">
    <a
      href="../src/accessories.html"
      class="btn-big btn-big-prime btn-start-shopping"
      >Start shopping</a
    >
  </div>
  
  <img src="./images/main-hero-photo/mouse.png" alt="" class="hero__mouse"
  >
  <div class="hero__image"></div>
  <img src="./images/main-hero-photo/headphone.png" alt="" class="hero__headphone">
  <img src="./images/main-hero-photo/keyboard.png" alt="" class="hero__keyboard">
</section>
