<section class="sale">
  <img
    class="photo-line_one"
    srcset="./images/line/vector_21-m-2x.png 2x"
    src="./images/line/vector_21-m-1x.png"
    alt=""
  />
  <img
    class="photo-line_two"
    srcset="./images/line/vector_22-m-2x.png 2x"
    src="./images/line/vector_22-m-1x.png"
    alt=""
  />
  <div class="container">
    <h1 class="sale-tittle">Sale</h1>
    <ul class="sale-list">
      <li class="sale-item">
        <picture>
          <source
            srcset="
              ./images/main-sale-photo/voise1-tablet1x.jpg 1x,
              ./images/main-sale-photo/voise1-tablet2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <img
            srcset="./images/main-sale-photo/voise1-mobile2x.jpg 2x"
            src="./images/main-sale-photo/voise1-mobile1x.jpg "
            alt=""
            width="285"
            height="276"
          />
        </picture>
        <div class="sale-item__box">
          <div class="sale-item__text">
            <p class="sale-item__tittle">
              Xiberia K9 PRO PC <br />
              Headset
            </p>
          </div>
          <div class="sale-price">
            <p class="sale-price__discount">65.14 USD</p>
            <p class="sale-price__current">55.14 USD</p>
          </div>
        </div>
      </li>
      <li class="sale-item mobile__none">
        <img
          srcset="./images/main-sale-photo/voise3-tablet2x.jpg 2x"
          src="./images/main-sale-photo/voise3-tablet1x.jpg "
          alt=""
        />
        <div class="sale-item__box">
          <div class="sale-item__text">
            <p class="sale-item__tittle">
              Xiberia K9 PRO PC <br />
              Headset
            </p>
          </div>
          <div class="sale-price">
            <p class="sale-price__discount">65.14 USD</p>
            <p class="sale-price__current">55.14 USD</p>
          </div>
        </div>
      </li>
      <li class="sale-item">
        <div class="sale-item__iamge">
          <picture>
            <source
              srcset="
                ./images/main-sale-photo/keyboard1-tablet1x.jpg 1x,
                ./images/main-sale-photo/keyboard1-tablet2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <img
              srcset="./images/main-sale-photo/keyboard1-mobile2x.jpg 2x"
              src="./images/main-sale-photo/keyboard1-mobile1x.jpg"
              alt=""
              width="285"
              height="276"
            />
          </picture>
          <div class="sale-item__box">
            <div class="sale-item__text">
              <p class="sale-item__tittle">
                Xiberia K9 PRO PC <br />
                Headset
              </p>
            </div>
            <div class="sale-price">
              <p class="sale-price__discount">65.14 USD</p>
              <p class="sale-price__current">55.14 USD</p>
            </div>
          </div>
        </div>
      </li>
      <li class="sale-item mobile__none">
        <img
          srcset="./images/main-sale-photo/keyboard2-tablet2x.jpg 2x"
          src="./images/main-sale-photo/keyboard2-tablet1x.jpg "
          alt=""
        />
        <div class="sale-item__box">
          <div class="">
            <p class="sale-item__tittle">
              Xiberia K9 PRO PC <br />
              Headset
            </p>
          </div>
          <div class="sale-price">
            <p class="sale-price__discount">65.14 USD</p>
            <p class="sale-price__current">55.14 USD</p>
          </div>
        </div>
      </li>
      <li class="sale-item">
        <picture>
          <source
            srcset="
              ./images/main-sale-photo/voise2-tablet1x.jpg 1x,
              ./images/main-sale-photo/voise2-tablet2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <img
            srcset="./images/main-sale-photo/voise2-mobile2x.jpg 2x"
            src="./images/main-sale-photo/voise2-mobile1x.jpg"
            alt=""
          />
        </picture>
        <div class="sale-item__box">
          <div class="sale-item__text">
            <p class="sale-item__tittle">
              Xiberia K9 PRO PC <br />
              Headset
            </p>
          </div>
          <div class="sale-price">
            <p class="sale-price__discount">65.14 USD</p>
            <p class="sale-price__current">55.14 USD</p>
          </div>
        </div>
      </li>
      <li class="sale-item mobile__none">
        <img
          srcset="./images/main-sale-photo/mouse2-tablet2x.jpg 2x"
          src="./images/main-sale-photo/mouse2-tablet1x.jpg"
          alt=""
        />
        <div class="sale-item__box">
          <div class="sale-item__text">
            <p class="sale-item__tittle">
              Xiberia K9 PRO PC <br />
              Headset
            </p>
          </div>
          <div class="sale-price">
            <p class="sale-price__discount">65.14 USD</p>
            <p class="sale-price__current">55.14 USD</p>
          </div>
        </div>
      </li>
      <li class="sale-item">
        <picture>
          <source
            srcset="
              ./images/main-sale-photo/mouse1-tablet1x.jpg 1x,
              ./images/main-sale-photo/mouse1-tablet2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <img
            srcset="./images/main-sale-photo/mouse1-mobile2x.jpg 2x"
            src="./images/main-sale-photo/mouse1-mobile1x.jpg"
            alt=""
          />
        </picture>
        <div class="sale-item__box">
          <div class="sale-item__text">
            <p class="sale-item__tittle">
              Xiberia K9 PRO PC <br />
              Headset
            </p>
          </div>
          <div class="sale-price">
            <p class="sale-price__discount">65.14 USD</p>
            <p class="sale-price__current">55.14 USD</p>
          </div>
        </div>
      </li>
      <li class="sale-item mobile__none">
        <img
          srcset="./images/main-sale-photo/voise4-tablet2x.jpg 2x"
          src="./images/main-sale-photo/voise4-tablet1x.jpg"
          alt=""
        />
        <div class="sale-item__box">
          <div class="sale-item__text">
            <p class="sale-item__tittle">
              Xiberia K9 PRO PC <br />
              Headset
            </p>
          </div>
          <div class="sale-price">
            <p class="sale-price__discount">65.14 USD</p>
            <p class="sale-price__current">55.14 USD</p>
          </div>
        </div>
      </li>
    </ul>
    <a href="#" class="btn-view-all">View all</a>
  </div>
</section>
