<div class="mob-menu is-hidden" data-menu>
    <nav class="mob-menu__navigation">
        <ul class="mob-menu__navigation-list">
            <li class="mob-menu__navigation-item">
                <a class="mob-menu__navigation-link" href="./index.html">Accessories</a>
            </li>
            <li class="mob-menu__navigation-item">
                <a class="mob-menu__navigation-link" href="../src/contact.html">Contact</a>
            </li>
            <li class="mob-menu__navigation-item">
                <a class="mob-menu__navigation-link" href="../src/blog.html">Blog</a>
            </li>
        </ul>
    </nav>
</div>
<script src="./mob-menu.js"></script>