.footer {
  background: #001414;
  background-position: center;
  margin: 0 auto;
  width: 100%;
  padding-top: 25px;
  padding-bottom: 24px;
  background-size: cover;
}

.footer-container {
  @media screen and (max-width: 479px) {
    width: 100%;
  }

  @include tablet {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  @include desktop {
    display: flex;
    justify-content: flex-start;
  }
}

.footer__logo {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  text-align: center;
  color: var(--primary-text-color);
  transition: color var(--timing-function);

  @include desktop {
    min-width: 187px;
  }
}

.footer-nav__container {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;

  @include tablet {
    margin-top: 0;
    margin-right: 73px;
    margin-left: 61px;
  }

  @include desktop {
    margin-top: 0;
    margin-right: 281px;
    margin-left: 118px;
  }
}

.footer-menue__item {
  margin-bottom: 16px;
}

.footer-menue__item:last-child {
  margin-bottom: 24px;
}

.footer-menue__link {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  color: var(--primary-text-color);
  transition: color var(--timing-function);
}

.social {
  margin-right: 16px;

  @include tablet {
    margin-right: 0;
    margin-left: 89px;
  }

  @include desktop {
    display: block;
    margin-right: 0;
    margin-left: 217px;
  }
}

.social__list {
  display: block;

  @include tablet {
    display: flex;
    
  }

  @include desktop {
    display: block;
    margin-left: 0;
  }
}

.social__item {
  margin-bottom: 32px;
  position: relative;

  @include tablet {
    margin-bottom: 0;
    margin-right: 16px;
  }

  @include desktop {
    margin-bottom: 16px;
    margin-right: 0;
  }
}

.social__item:last-child {
  margin-bottom: 0;
  margin-right: 0;
}

.social__link {
  position: absolute;
  top:0;
  left: 2%;
 
  transform: translatex(295%);


  width: 24px;
  height: 24px;
  border-radius: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
  background: #fff;
   transition: filter var(--timing-function);


   @include tablet {
    top: 24%;
    left: 101%;
    transform: translate(-100%, -100%);

  }

  @include desktop {
    top:51%;
    left: 100%;
    transform: translate(-100%, -50%);
  }

  &:hover,
  &:focus {
    filter: var(--box-shadow-light);

  
     .share__button-secondary--content {
       transform: translate3d(0, 0, 0);

       @include tablet {
       transform: translatex(-42%);
      }
       @include desktop {
        transform: translate3d(0, -32%, 0);
        }
     }
    .share__button {
      cursor: pointer;
     background-color: var(--accent);
      box-shadow: 0 4px 4px #86e54333;
      border: 1px solid #86e543; 
    }
  }

}

.social__icon {
  fill: #001414;
  transition: fill var(--timing-function);

  &:hover,
  &:focus {
    fill: var(--accent);

    .share__button {
      cursor: pointer;
     background-color: var(--accent);
      box-shadow: 0 4px 4px #86e54333;
      border: 1px solid #86e543; 
    }
  }
}

.footer__text {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  color: var(--primary-text-color);
  margin-bottom: 8px;
}

.footer-link {
  margin-bottom: 16px;
}

.footer-mail {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-transform: capitalize;
  color: var(--secondary-text-color);
  transition: color var(--timing-function);
}

.footer-link__tel {
  margin-bottom: 8px;
}

.footer-tel {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.01em;
  text-transform: capitalize;
  color: var(--secondary-text-color);
  margin-bottom: 8px;
  transition: color var(--timing-function);
}

.footer-tel,
.footer-mail,
.footer-menue__link,
.footer__logo {
  &:hover,
  &:focus {
    color: var(--accent);
  }
}
// -----anime
// .share__buttons {
// }
  

.share__button {
   display: flex;
   position: relative;
    width: 95px;
    height: 24px;
    border-radius: 12px;
    transition: transform var(--timing-function);
    transition: background-color var(--timing-function);
  

    @include tablet {
      display: block;
      width: 24px;
      height: 100px;
     

    }
  
    @include desktop {
      display: flex;
      width: 95px;
      height: 24px; 
    }


   &:hover,
   &:focus {
     cursor: pointer;
     background-color: var(--accent);
     box-shadow: 0 4px 4px #86e54333;
     

     .social__icon{
       fill: var(--accent);
    }
     .share__button-secondary--content {
      transform: translate3d(0, 0, 0);

      @include tablet {
       transform: translatex(-42%);
      }
      @include desktop {
        transform: translate3d(0, -32%, 0);
      }
    }
   }
}

.share__button-secondary {
  position: relative;
  overflow: hidden;
  border-radius: 12px;

 }

.share__button-secondary--content {
  font-family: var(--main-font);
  font-weight: 400;
  line-height: 0.4;
  letter-spacing: 0.01em;
  text-transform: capitalize;
  text-transform: uppercase;
   height: 24px;
   width: 70px;
   font-size: 8px;
   transform: translate(105%, 0);
   display: flex;
   writing-mode: initial;
   justify-content: center; 
   align-items: center; 

  color: var(--primary-text-color);
  border-radius: 12px;
  transition: transform var(--timing-function);

  @include tablet {
    display: block;
    padding-top: 22px;
    height: 100px;
    letter-spacing: -0.2em;
    width: 24px;
    font-size: 8px;
    writing-mode: vertical-rl;
    text-orientation: upright;
    text-align:center;
    justify-content: center; 
    align-items: center; 
     text-transform: uppercase;
    transform: translate(0, -105%);
   
  }

  @include desktop {
    height: 24px;
    width: 70px;
    letter-spacing: 0.01em;
    font-size: 10px;
     padding-bottom: 10px;
    transform: translate(105%, 0);
    display: flex;
    text-align: center;
     writing-mode: initial; 
    align-items: center; 
   
  }
}