.hero {
  position: relative;

  background-image: url(../images/background/hero1-1x.jpg);
  background-position: 80% 90%;
  padding-top: 180px;
  padding-bottom: 127px;
  overflow: hidden;

}


.hero__container {
  @extend %flex-jc-ac;
  @include tablet {
    justify-content: start;
    padding-left: 40px;
    padding-top: 154px;
  }
  @include desktop {
    justify-content: start;
    padding-left: 142px;
    padding-top: 180px;
  }
}

.hero__title {
  width: 247px;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  @include font(600, 32px, calc(38 / 32), 0);
  text-align: center;
  margin-bottom: 25px;
  @include tablet {
    width: 515px;
    @include font(0, 56px, calc(66 / 56), 0);
    text-align: start;
    margin-bottom: 94px;
  }
  @include desktop {
    width: 515px;
    @include font(0, 64px, calc(75 / 64), 0);
    margin-bottom: 40px;
  }
}

.hero__container-btn {
  @include tablet {
    padding-left: 41px;
  }
  @include desktop {
    padding-left: 142px;
  }
}
.hero__img-wrapper{
  height: 100%;
}

.hero__mouse {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 60px;
  height: 99px;

  transform: translate(-127px, -179px) rotate(-29deg);
  mix-blend-mode: luminosity;
}

.hero__headphone {
  position: absolute;
  z-index: 0;

  width: 150px;
  height: 186px;
  top: 50%;
  left: 50%;

  transform: translate(15px, -273px) rotate(28deg);
  mix-blend-mode: luminosity;
}

.hero__keyboard {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 88px;
  height: 42px;

  transform: translate(-7px, 160px) rotate(24deg);
  mix-blend-mode: luminosity;
}