.sale {
  padding-bottom: 63px;
  padding-top: 63px;
  position: relative;
  overflow: hidden;
  @include tablet {
    padding-top: 117px;
  }
}

.sale-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  @include tablet {
    flex-direction: unset;
    flex-wrap: wrap;
    gap: 32px;
    justify-content: center;
    align-items: unset;
    @include desktop {
      gap: 20px;
      justify-content: unset;
      flex-direction: unset;
    }
  }
}

.sale-item {
  width: 100%;
  @include mobile {
    width: 285px;
  }
  @include tablet {
    width: 285px;
  }
  @include desktop {
    width: calc((100% - 60px) / 4);
  }
}

.sale-item img {
  border-radius: 12px;
}

.sale-item__box {
  margin-top: 8px;
  padding-left: 8px;
  padding-right: 16px;
  padding-bottom: 8px;
}

.sale-item__text {
  margin-bottom: 8px;
}

.sale-item__tittle {
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-size: 22px;
  line-height: 1.18;

  color: #86e543;
}

.sale-price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 19px;
}

.sale-price__discount {
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 100%;
  /* identical to box height, or 14px */

  text-decoration-line: line-through;

  color: #8d9289;
}

.sale-price__current {
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 100%;
  /* identical to box height, or 20px */

  color: #86e543;
}

.photo-line_one {
  position: absolute;
  top: -61px;
  @include tablet {
    top: 54px;
    width: 1280px;
  }
}

.photo-line_two {
  position: absolute;
  top: -52px;
  @include tablet {
    top: 61px;
    left: -94px;
    width: 1280px;
  }
}

.sale-tittle {
  margin-bottom: 35px;
  padding-left: 130px;
  display: block;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  @include tablet {
    margin-bottom: 51px;
    font-size: 56px;
    line-height: 1.17;
    padding-left: 142px;
  }
  @include desktop {
    margin-bottom: 43px;
  }
}

.btn-view-all {
  @extend %btn;
  margin: 0 auto;
  margin-top: 24px;
  @include tablet {
    margin-top: 28px;
    width: 195px;
    height: 65px;
  }
  width: 153px;
  height: 51px;

  @include tablet {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.17;
  }
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.18;
  color: var(--button-text-and-bg);
  background: var(--primary-text-color);
  border: 1px solid var(--primary-text-color);

  font-size: 16px;
  transition: all var(--timing-function);

  &:hover,
  &:focus {
    box-shadow: var(--box-shadow-view-all);
    transition: all var(--timing-function);
  }
}

.sale-item__link {
  cursor: pointer;
}
